.logo img {
  max-width: 400px;
  max-height: 400px;
  width: 250px;
  height: auto;
  object-fit: contain;
  aspect-ratio: auto 1/1;
}
.logo span {
  max-width: 50%;
  display: block;
  position: absolute;
  left: -300%;
}

@media (min-width: 30em) {
  .logo img {
    width: auto;
  }
  .logo span {
    display: none;
  }
}
