<a href="#main" class="skip-link">{{ meta.skipContent }}</a>

<header class="wrapper | relative" role="banner">
  <div class="sidebar | ontop spot-color-primary">
    <a href="/" class="logo | no-underline">      
      {{ meta.siteName }}
    </a>

    {% include "partials/menu.njk" %}
  </div>
</header>
