<a href="#main" class="skip-link">{{ meta.skipContent }}</a>

<header class="wrapper | relative" role="banner">
  <div class="sidebar | ontop spot-color-primary">
    <div>  
      <a href="/" class="logo | no-underline">
        <span>{{ meta.siteName }}</span>
        {% imagePlaceholder "./src/assets/images/wappen.png", "Das Wappen der Landsmannschaft Afrania" %}
      </a>
    </div>
    {% include "partials/menu.njk" %}
  </div>
</header>
